* {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  background-color: aqua;
}
nav {
  padding: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
images {
  display: flex;
  justify-content: center;
}
img {
  width: 200px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}
.quote {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(234, 123, 123);
  color: white;
  text-align: center;
}
